@font-face {
   font-family: 'ProductSans-Medium';
   font-display: swap;
   src: url('file:///C:/Users/sandr/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-09-11_081545/fonts/ProductSans-Medium/font.ttf');
}
